# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *Князев Роман Алексеевич*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [ ]:
print("Добро пожаловать в мир Python!")

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [ ]:
first_num, second_num = 15, 27

print(first_num + second_num)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [ ]:
name = input('Введите ваше имя: ')

print(f'\nВаше имя: {name}')

Введите ваше имя: Роман

Ваше имя: Роман

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [ ]:
print(
    'Первая строка',
    'Вторая строка',
    'Третья строка',
    sep='\n',
)

Первая строка
Вторая строка
Третья строка

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [ ]:
first_num, second_num = 7, 7
sum_nums = first_num + second_num

print(f'{first_num} + {second_num} = {sum_nums}')

7 + 7 = 14

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [ ]:
first_num, second_num, third_num = (
    int(input('Введите первое число: ')),
    int(input('Введите второе число: ')),
    int(input('Введите третье число: '))
)

product_nums = first_num * second_num * third_num

print(f"\nПроизведение чисел: {product_nums}")

Введите первое число: 1
Введите второе число: 2
Введите третье число: 3

Произведение чисел: 6

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [76]:
full_name = input("Введите ваше ФИО: ")
last_name, first_name, patronymic = full_name.split()
print(f"\nФамилия и инициалы: {last_name} {first_name[0]}.{patronymic[0]}.")

Введите ваше ФИО: Князев Роман Алексеевич

Фамилия и инициалы: Князев Р.А.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [ ]:
line, symbol = (
    input("Введите строку, в которой будем искать: "),
    input("Введите символ, который нужно посчитать: ")
)

total_number_meetings = line.count(symbol)

print(f"\nСимвол '{symbol}' встречается в строке {total_number_meetings} раз(а).")

Введите строку, в которой будем искать: Lorem ipsum dolor sit amet consectetur adipiscing elit
Введите символ, который нужно посчитать: o

Символ 'o' встречается в строке 4 раз(а).

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [ ]:
color = input("Введите ваш любимый цвет: ")

print(f"\n{color} - красивый цвет!")

Введите ваш любимый цвет: Фиолетовый

Фиолетовый - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [ ]:
line = input("Введите строку: ")

print(f"\nДлина строки: {len(line)} символов")

Введите строку: Lorem ipsum dolor sit amet consectetur adipiscing elit

Длина строки: 54 символов

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [ ]:
num = 42

print(num)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [ ]:
result = (17 * 3) + (10 / 2)

print(int(result))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [ ]:
num_str = "100"
add_num = 25

result = int(num_str) + add_num

print(result)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [ ]:
num = 7

print(f"Тип переменной {num=}: {type(num)}")

Тип переменной num=7: <class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [ ]:
first_num = 100
second_num = 55

difference_nums = first_num - second_num

print(f"Разница между {first_num} и {second_num} равна {difference_nums}")

Разница между 100 и 55 равна 45

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [ ]:
num = float(input("Введите вещественное число: "))

square_num = num ** 2

print(f"\nКвадрат числа {num} равен {square_num}")

Введите вещественное число: 2.4

Квадрат числа 2.4 равен 5.76

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [ ]:
num = float(input("Введите вещественное число: "))

rounded_num = round(num, 2)

print(f"\nЧисло {num} округлённое до двух знаков после запятой: {rounded_num}")

Введите вещественное число: 1.23456

Число 1.23456 округлённое до двух знаков после запятой: 1.23

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [ ]:
first_num = 2.5
second_num = 4.7

result = first_num + second_num

print(f"Сумма {first_num} и {second_num} равна {result}")

Сумма 2.5 и 4.7 равна 7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [ ]:
celsius = float(input("Введите температуру в градусах Цельсия: "))

fahrenheit = celsius * 9 / 5 + 32

print(f"\n{celsius}°C = {fahrenheit}°F")

Введите температуру в градусах Цельсия: 37

37.0°C = 98.6°F

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [ ]:
length = float(input("Введите длину прямоугольника: "))
width = float(input("Введите ширину прямоугольника: "))

area = length * width
perimeter = 2 * (length + width)

print(f"\nПлощадь прямоугольника: {area}")
print(f"Периметр прямоугольника: {perimeter}")

Введите длину прямоугольника: 1
Введите ширину прямоугольника: 2

Площадь прямоугольника: 2.0
Периметр прямоугольника: 6.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [ ]:
text = "Python - самый популярный язык программирования"

print(text)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [ ]:
text = "Привет, мир!"

first_char = text[0]
last_char = text[-1]

print(f"Первый символ: {first_char}")
print(f"Последний символ: {last_char}")

Первый символ: П
Последний символ: !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [ ]:
part1 = "МИИГАиК - "
part2 = "Лучший "
part3 = "ВУЗ!"

result = part1 + part2 + part3

print(result)

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [ ]:
num_str = "12345"
num_int = int(num_str)

print(f"Тип переменной {num_int=}: {type(num_int)}")

Тип переменной num_int=12345: <class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [ ]:
text = "python is Fun"

result = text.upper()

print(result)

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [ ]:
numbers = [10, 20, 30, 40, 50]

print(numbers)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [ ]:
items = [10, 20, 30, 40, 50]
new_item = "новый элемент"

items.append(new_item)

print(items)

[10, 20, 30, 40, 50, 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [ ]:
languages = ['python', 'java', 'c++', 'ruby', 'perl']

print(languages[1:4])

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [ ]:
new_list = []

new_list.append("Test")
new_list.append(666)
new_list.append(999.99)

print(new_list)

['Test', 666, 999.99]

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [ ]:
nums = [1, 2, 3, 4, 5]

nums[1] = 200

print(nums)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [ ]:
nums = (1, 2, 3, 4, 5)

print(nums)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [61]:
nums = (1, 2, 3, 4, 5)

# Произойдет ошибка TypeError, потому что кортежи неизменяемы.
# Их элементы нельзя изменить после создания.
# nums[0] = 55

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [65]:
nums = (1, 2, 3, 4, 5)

result = str(nums)

print(result)

(1, 2, 3, 4, 5)

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [66]:
nums = (1, 2, 3, 4, 5)

element = 3

if element in nums:
    print(f"Элемент {element} содержится в кортеже")
else:
    print(f"Элемент {element} отсутствует в кортеже")

Элемент 3 содержится в кортеже

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [69]:
nums = (1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 5)

element = 2
count_element = nums.count(element)

print(f"Число {element} встречается в кортеже {count_element} раз(а).")

Число 2 встречается в кортеже 4 раз(а).

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [70]:
info = {
    "имя": "Роман",
    "возраст": 21,
    "город": "Москва"
}

print(info)

{'имя': 'Роман', 'возраст': 21, 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [72]:
print(info["имя"])

Роман

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [73]:
info["профессия"] = "программист"

print(info)

{'имя': 'Роман', 'возраст': 21, 'город': 'Москва', 'профессия': 'программист'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [74]:
del info["город"]

print(info)

{'имя': 'Роман', 'возраст': 21, 'профессия': 'программист'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [75]:
info = {}

key = input("Введите ключ: ")
value = input("Введите значение: ")

info[key] = value

print(info)

Введите ключ: name
Введите значение: Роман
{'name': 'Роман'}